@{
    ViewBag.Title = "MisTours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-minimal {
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 1rem 0;
        transition: all 0.3s ease;
        cursor: pointer;
        display: block;
        color: #212529;
        font-weight: 600;
        text-decoration: none;
        border-color: #dedede;
    }

        .btn-minimal:hover,
        .btn-minimal:focus {
            border-color: #808080;
            box-shadow: 0 4px 8px #808080;
            text-decoration: none;
        }

        .btn-minimal span {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 0.25rem;
        }
</style>

<main class="container py-5">

    <div class="row justify-content-center mb-5 text-center">
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MiPerfil", "MiPerfil")" class="btn-minimal">
                <span>✏️</span>
                MI INFORMACIÓN
            </a>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MisDonaciones", "MiPerfil")" class="btn-minimal">
                <span>💰</span>
                MIS DONACIONES
            </a>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MisAnimales", "MiPerfil")" class="btn-minimal">
                <span>🐾</span>
                MIS ANIMALES
            </a>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MisTours", "MiPerfil")" class="btn-minimal">
                <span>🎟️</span>
                MIS ACTIVIDADES
            </a>
        </div>

    </div>

    <div class="text-center mb-4">
        <h4 class="fw-bold">MIS TOURS RESERVADOS</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-info text-center" role="alert">
            No tienes boletos adquiridos aún. ¡Explora nuestros tours y adquiere el tuyo!
        </div>
    </div>


</main>
