@model ProyectoFinal.Models.Usuario

@{
    ViewBag.Title = "Inicio de Sesión";
}
<main class="container py-5">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <div id="formRegistro" class="bg-light p-4 rounded shadow mx-auto">
                <h2 class="fw-bold text-center mb-4">CAMBIO DE CONTRASEÑA</h2>
                @using (Html.BeginForm("CambioContrasenna", "Home", FormMethod.Post, new { @class = "form-horizontal m-t-20" }))
                {

                    @Html.Hidden("correo", Request.QueryString["correo"])

                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Contrasenna, new { @type = "password", @class = "form-control form-control-lg InputLogin contrasenna", @placeholder = "Contraseña", @id = "contrasenna" })
                    </div>
                    <div class="mb-3">

                        @Html.TextBoxFor(x => x.Contrasenna, new { @type = "password", @class = "form-control form-control-lg InputLogin confirmarContrasenna", @placeholder = "Confirmar Contraseña", @id = "confirmarContrasenna" })
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning fw-bold text-dark">CAMBIAR CONTRASEÑA</button>
                    </div>

                    <div class="mt-3 text-center">
                        @Html.ActionLink("¿No tienes cuenta? Regístrate aquí", "Registro", "Home", new { area = "" }, new { @class = "nav-link" })
                    </div>
                }
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/Autenticacion.js"></script>

