USE [CASA_NATURA]
GO
/****** Object:  Table [dbo].[ACTIVIDADES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDADES_TB](
	[ID_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](4000) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[PRECIO_BOLETO] [decimal](10, 2) NOT NULL,
	[TICKETS_DISPONIBLES] [int] NULL,
	[TICKETS_VENDIDOS] [int] NULL,
	[ID_ESTADO] [int] NOT NULL,
	[IMAGEN] [varchar](255) NULL,
	[TIPO] [varchar](255) NULL,
	[NOMBRE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANIMAL_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMAL_TB](
	[ID_ANIMAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[ID_RAZA] [int] NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
	[FECHA_BAJA] [datetime] NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_SALUD] [int] NOT NULL,
	[IMAGEN] [varchar](255) NULL,
	[HISTORIA] [varchar](255) NULL,
	[NECESIDAD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APADRINAMIENTOS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APADRINAMIENTOS_TB](
	[ID_APADRINAMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[MONTO_MENSUAL] [decimal](10, 2) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[FECHA_BAJA] [datetime] NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_ANIMAL] [int] NOT NULL,
	[ID_METODO] [int] NOT NULL,
	[REFERENCIA] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_APADRINAMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANTONES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTONES_TB](
	[ID_CANTON] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[PROVINCIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTAS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTAS_TB](
	[ID_CONSULTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[APELLIDO] [varchar](100) NOT NULL,
	[CORREO] [varchar](100) NOT NULL,
	[MENSAJE] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[FECHA_RESUELTA] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCIONES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCIONES_TB](
	[ID_DIRECCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_DISTRITO] [int] NOT NULL,
	[DIRECCION_EXACTA] [varchar](255) NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITOS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITOS_TB](
	[ID_DISTRITO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CANTON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONACIONES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONACIONES_TB](
	[ID_DONACION] [int] IDENTITY(1,1) NOT NULL,
	[MONTO] [decimal](10, 2) NULL,
	[FECHA] [datetime] NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_METODO] [int] NOT NULL,
	[REFERENCIA] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DONACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESPECIES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIES_TB](
	[ID_ESPECIE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESPECIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_SALUD_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_SALUD_TB](
	[ID_SALUD] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SALUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_TB](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO_TB](
	[ID_METODO] [int] IDENTITY(1,1) NOT NULL,
	[METODO] [varchar](30) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_METODO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS_TB](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAZAS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAZAS_TB](
	[ID_RAZA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[ID_ESPECIE] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RAZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO_ERRORES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO_ERRORES_TB](
	[ID_ERROR] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_ACTUAL] [datetime] NOT NULL,
	[MENSAJE] [varchar](3000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ERROR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_TB](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [varchar](15) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ACTIVIDAD_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ACTIVIDAD_TB](
	[ID_USUARIO_ACTIVIDAD] [int] IDENTITY(1,1) NOT NULL,
	[TICKETS_ADQUIRIDOS] [int] NULL,
	[FECHA] [datetime] NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ACTIVIDAD] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_METODO_PAGO] [int] NOT NULL,
	[REFERENCIA] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO_ACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS_TB]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_TB](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO1] [varchar](50) NOT NULL,
	[APELLIDO2] [varchar](50) NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[PASSWORD] [varchar](255) NULL,
	[ID_ROL] [int] NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONSULTAS_TB] ADD  CONSTRAINT [DF_CONSULTAS_TB_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[CONSULTAS_TB] ADD  CONSTRAINT [DF_CONSULTAS_TB_ID_ESTADO]  DEFAULT ((5)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[ACTIVIDADES_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[ANIMAL_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[ANIMAL_TB]  WITH CHECK ADD FOREIGN KEY([ID_RAZA])
REFERENCES [dbo].[RAZAS_TB] ([ID_RAZA])
GO
ALTER TABLE [dbo].[ANIMAL_TB]  WITH CHECK ADD FOREIGN KEY([ID_SALUD])
REFERENCES [dbo].[ESTADOS_SALUD_TB] ([ID_SALUD])
GO
ALTER TABLE [dbo].[APADRINAMIENTOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ANIMAL])
REFERENCES [dbo].[ANIMAL_TB] ([ID_ANIMAL])
GO
ALTER TABLE [dbo].[APADRINAMIENTOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[APADRINAMIENTOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_METODO])
REFERENCES [dbo].[METODO_PAGO_TB] ([ID_METODO])
GO
ALTER TABLE [dbo].[APADRINAMIENTOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CANTONES_TB]  WITH CHECK ADD FOREIGN KEY([PROVINCIA])
REFERENCES [dbo].[PROVINCIAS_TB] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CONSULTAS_TB]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_TB_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CONSULTAS_TB] CHECK CONSTRAINT [FK_CONSULTAS_TB_ESTADO]
GO
ALTER TABLE [dbo].[CONSULTAS_TB]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CONSULTAS_TB] CHECK CONSTRAINT [FK_CONSULTAS_TB_USUARIO]
GO
ALTER TABLE [dbo].[DIRECCIONES_TB]  WITH CHECK ADD FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITOS_TB] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[DIRECCIONES_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[DIRECCIONES_TB]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[DISTRITOS_TB]  WITH CHECK ADD FOREIGN KEY([CANTON])
REFERENCES [dbo].[CANTONES_TB] ([ID_CANTON])
GO
ALTER TABLE [dbo].[DONACIONES_TB]  WITH CHECK ADD FOREIGN KEY([ID_METODO])
REFERENCES [dbo].[METODO_PAGO_TB] ([ID_METODO])
GO
ALTER TABLE [dbo].[DONACIONES_TB]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ESPECIES_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[METODO_PAGO_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[RAZAS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESPECIE])
REFERENCES [dbo].[ESPECIES_TB] ([ID_ESPECIE])
GO
ALTER TABLE [dbo].[RAZAS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[REGISTRO_ERRORES_TB]  WITH CHECK ADD  CONSTRAINT [FK_RegistroErrores_Usuarios] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[REGISTRO_ERRORES_TB] CHECK CONSTRAINT [FK_RegistroErrores_Usuarios]
GO
ALTER TABLE [dbo].[ROLES_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO_ACTIVIDAD_TB]  WITH CHECK ADD FOREIGN KEY([ID_ACTIVIDAD])
REFERENCES [dbo].[ACTIVIDADES_TB] ([ID_ACTIVIDAD])
GO
ALTER TABLE [dbo].[USUARIO_ACTIVIDAD_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO_ACTIVIDAD_TB]  WITH CHECK ADD FOREIGN KEY([ID_METODO_PAGO])
REFERENCES [dbo].[METODO_PAGO_TB] ([ID_METODO])
GO
ALTER TABLE [dbo].[USUARIO_ACTIVIDAD_TB]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS_TB] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TB] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIOS_TB]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROLES_TB] ([ID_ROL])
GO
/****** Object:  StoredProcedure [dbo].[AgregarActividadSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarActividadSP] (
@Descripcion VARCHAR,
@Fecha DATETIME,
@PrecioBoleto DECIMAL(10,2),
@TicketsDisponibles INT,
@Imagen VARCHAR,
@Tipo Varchar, 
@Nombre Varchar) 
AS
BEGIN
	INSERT INTO dbo.ACTIVIDADES_TB (DESCRIPCION, FECHA, PRECIO_BOLETO, TICKETS_DISPONIBLES, 
	TICKETS_VENDIDOS, ID_ESTADO, IMAGEN, TIPO, NOMBRE) VALUES
	(@Descripcion, @Fecha, @PrecioBoleto, @TicketsDisponibles, 0, 1, @Imagen, @Tipo, @Nombre);



END;
GO
/****** Object:  StoredProcedure [dbo].[CambiarContrasennaSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarContrasennaSP]
    @CORREO VARCHAR(100),
    @NUEVA_CONTRASENNA VARCHAR(100)
AS
BEGIN
    -- Verifica si el usuario existe
    IF NOT EXISTS (SELECT 1 FROM USUARIOS_TB WHERE CORREO = @CORREO)
    BEGIN
        RAISERROR('El usuario no existe.', 16, 1);
        RETURN;
    END

    -- Actualiza la contraseña encriptada
    UPDATE USUARIOS_TB
    SET PASSWORD = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @NUEVA_CONTRASENNA), 2)
    WHERE CORREO = @CORREO;
END;
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoAnimalSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CambiarEstadoAnimalSP]
    @IdAnimal INT,
    @IdEstado INT
AS
BEGIN
    DECLARE @ApadrinamientoActivo INT = 0;
    
    IF @IdEstado = 2
    BEGIN
        SELECT @ApadrinamientoActivo = COUNT(*)
        FROM APADRINAMIENTOS_TB 
        WHERE ID_ANIMAL = @IdAnimal AND ID_ESTADO = 1;
    END;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Actualizar estado del animal
        UPDATE ANIMAL_TB
        SET ID_ESTADO = @IdEstado
        WHERE ID_ANIMAL = @IdAnimal;
        
        IF @IdEstado = 2 AND @ApadrinamientoActivo > 0
        BEGIN
            UPDATE APADRINAMIENTOS_TB
            SET ID_ESTADO = 2 
            WHERE ID_ANIMAL = @IdAnimal AND ID_ESTADO = 1;
        END;
        
        COMMIT TRANSACTION;
              
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoApadrinamientoSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: CambiarEstadoApadrinamientoSP
-- =============================================
CREATE   PROCEDURE [dbo].[CambiarEstadoApadrinamientoSP]
    @IdApadrinamiento INT
AS
BEGIN
    DECLARE @IdAnimal INT;

    SELECT @IdAnimal = ID_ANIMAL 
    FROM APADRINAMIENTOS_TB
    WHERE ID_APADRINAMIENTO = @IdApadrinamiento;

    UPDATE APADRINAMIENTOS_TB
    SET ID_ESTADO = 2
    WHERE ID_APADRINAMIENTO = @IdApadrinamiento;

    UPDATE ANIMAL_TB
    SET ID_ESTADO = 1
    WHERE ID_ANIMAL = @IdAnimal;
END;
GO
/****** Object:  StoredProcedure [dbo].[CambioEstadoActividadSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambioEstadoActividadSP] (
@IdEstado int,
@IdActividad int
) AS
BEGIN
	UPDATE ACTIVIDADES_TB SET ID_ESTADO = @IdEstado WHERE ID_ACTIVIDAD = @IdActividad;
END;
GO
/****** Object:  StoredProcedure [dbo].[CompraActividadSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CompraActividadSP] (
    @IdUsuario INT,
    @IdMetodoPago INT,
    @NumeroBoletos INT,
    @IdActividad INT,
    @Referencia VARCHAR(100)
)
AS
BEGIN
    DECLARE @CostoBoleto DECIMAL(10, 2);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener el precio del boleto
        SELECT @CostoBoleto = PRECIO_BOLETO 
        FROM ACTIVIDADES_TB 
        WHERE ID_ACTIVIDAD = @IdActividad;

     
        INSERT INTO USUARIO_ACTIVIDAD_TB 
        (TICKETS_ADQUIRIDOS,FECHA, TOTAL, ID_USUARIO, ID_ESTADO, ID_METODO_PAGO, ID_ACTIVIDAD, REFERENCIA)
        VALUES 
        (@NumeroBoletos, GETDATE(), @NumeroBoletos * @CostoBoleto, @IdUsuario, 6, @IdMetodoPago, @IdActividad, @Referencia);

      
        UPDATE ACTIVIDADES_TB 
        SET 
            TICKETS_DISPONIBLES = TICKETS_DISPONIBLES - @NumeroBoletos,
            TICKETS_VENDIDOS = TICKETS_VENDIDOS + @NumeroBoletos
        WHERE ID_ACTIVIDAD = @IdActividad;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[DetalleActividadSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DetalleActividadSP] 
(@IdActividad int)
AS
BEGIN
    SELECT ID_ACTIVIDAD
      ,DESCRIPCION
      ,FECHA
      ,PRECIO_BOLETO
      ,TICKETS_DISPONIBLES
      ,TICKETS_VENDIDOS
      ,ID_ESTADO
      ,IMAGEN
      ,TIPO
      ,NOMBRE
  FROM dbo.ACTIVIDADES_TB
  WHERE ID_ACTIVIDAD = @IdActividad;

END;
GO
/****** Object:  StoredProcedure [dbo].[EditarActividadSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarActividadSP]
    @IdActividad INT,
    @Descripcion VARCHAR(MAX),
    @Fecha DATETIME,
    @PrecioBoleto DECIMAL(10,2),
    @TicketsDisponibles INT,
    @Imagen VARCHAR(MAX),
    @Tipo VARCHAR(50),
    @Nombre VARCHAR(100)
AS
BEGIN
    UPDATE dbo.ACTIVIDADES_TB
    SET
        DESCRIPCION = @Descripcion,
        FECHA = @Fecha,
        PRECIO_BOLETO = @PrecioBoleto,
        TICKETS_DISPONIBLES = @TicketsDisponibles,
        IMAGEN = @Imagen,
        TIPO = @Tipo,
        NOMBRE = @Nombre
    WHERE ID_ACTIVIDAD = @IdActividad;
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarAnimalSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EditarAnimalSP]
    @IdAnimal INT,
    @Nombre VARCHAR(100),
    @IdRaza INT,
    @FechaNacimiento DATETIME,
    @FechaIngreso DATETIME,
    @Historia VARCHAR(MAX),
    @Necesidad VARCHAR(MAX),
    @Imagen VARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE dbo.ANIMAL_TB
    SET
        NOMBRE = @Nombre,
        ID_RAZA = @IdRaza,
        FECHA_NACIMIENTO = @FechaNacimiento,
        FECHA_INGRESO = @FechaIngreso,
        HISTORIA = @Historia,
        NECESIDAD = @Necesidad,
        IMAGEN = CASE 
            WHEN @Imagen IS NOT NULL AND @Imagen != '' THEN @Imagen 
            ELSE IMAGEN 
        END
    WHERE ID_ANIMAL = @IdAnimal;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarApadrinamientoSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarApadrinamientoSP]
    @MontoMensual DECIMAL(10,2),
    @IdUsuario INT,
    @IdMetodo INT,
    @Referencia NVARCHAR(50) = NULL,
    @IdAnimal INT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

        INSERT INTO dbo.APADRINAMIENTOS_TB 
        (
            MONTO_MENSUAL, 
            FECHA, 
            FECHA_BAJA, 
            ID_USUARIO, 
            ID_ESTADO, 
            ID_ANIMAL,
            ID_METODO,
            REFERENCIA
        )
        VALUES 
        (
            @MontoMensual, GETDATE(), NULL, @IdUsuario, 1, @IdAnimal, @IdMetodo, @Referencia
        );

		UPDATE ANIMAL_TB 
        SET ID_ESTADO = 3
        WHERE ID_ANIMAL = @IdAnimal;

        COMMIT TRANSACTION;
        RETURN 0; 

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
			RAISERROR(@ErrorMessage, 16, 1);
			RETURN -99;
		END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarDonacionSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarDonacionSP]
    @Monto DECIMAL(10, 2),
    @IdUsuario INT,
    @IdMetodo INT,
    @Referencia VARCHAR(100) = NULL
AS
BEGIN
    INSERT INTO dbo.DONACIONES_TB (MONTO, FECHA, ID_USUARIO, ID_METODO, REFERENCIA)
    VALUES (@Monto, GETDATE(), @IdUsuario, @IdMetodo, @Referencia);
END;
GO
/****** Object:  StoredProcedure [dbo].[LoginSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginSP]
    @CORREO VARCHAR(100),
    @CONTRASENNA VARCHAR(100)
AS
BEGIN

    SELECT 
        ID_USUARIO,
        NOMBRE,
        APELLIDO2,
        APELLIDO1,
        IDENTIFICACION,
        CORREO,
        ID_ROL, 
        ID_ESTADO
    FROM dbo.USUARIOS_TB
    WHERE CORREO = @CORREO
    AND PASSWORD = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @CONTRASENNA), 2);
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAnimalesActivosSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerAnimalesActivosSP]
AS
BEGIN
    SELECT 
        ID_ANIMAL,
        NOMBRE,
        ID_RAZA,
        FECHA_INGRESO,
        FECHA_BAJA,
        FECHA_NACIMIENTO,
        ID_ESTADO,
        ID_SALUD,
        IMAGEN,
        HISTORIA,
        NECESIDAD
    FROM dbo.ANIMAL_TB
    WHERE ID_ESTADO = 1 
      AND FECHA_BAJA IS NULL
    ORDER BY FECHA_INGRESO DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAnimalPorIdSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: ObtenerAnimalPorIdSP
-- =============================================
CREATE   PROCEDURE [dbo].[ObtenerAnimalPorIdSP]
    @ID_ANIMAL INT
AS
BEGIN
    SELECT 
        a.ID_ANIMAL,
        a.NOMBRE 'NOMBRE_ANIMAL',
        a.ID_RAZA,
        r.NOMBRE 'NOMBRE_RAZA',
        a.FECHA_INGRESO,
        a.FECHA_BAJA,
        a.FECHA_NACIMIENTO,
        a.ID_ESTADO,
        a.ID_SALUD,
        s.DESCRIPCION,
        a.IMAGEN,
        a.HISTORIA,
        a.NECESIDAD
    FROM ANIMAL_TB a
    JOIN RAZAS_TB r ON a.ID_RAZA = r.ID_RAZA
    JOIN ESTADOS_SALUD_TB s ON a.ID_SALUD = s.ID_SALUD
    WHERE a.ID_ANIMAL = @ID_ANIMAL;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMisAnimalesSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ObtenerMisAnimalesSP](
    @IdUsuario INT
)
AS
BEGIN
      SELECT 
        a.ID_ANIMAL,
        a.NOMBRE AS NOMBRE_ANIMAL,
        r.NOMBRE AS RAZA,
        e.NOMBRE AS ESPECIE,
        a.IMAGEN,
        ap.MONTO_MENSUAL,
        ap.FECHA AS FECHA_INICIO,
        ap.REFERENCIA
    FROM APADRINAMIENTOS_TB ap
    INNER JOIN ANIMAL_TB a
        ON ap.ID_ANIMAL = a.ID_ANIMAL
    INNER JOIN RAZAS_TB r
        ON a.ID_RAZA = r.ID_RAZA
    INNER JOIN ESPECIES_TB e
        ON r.ID_ESPECIE = e.ID_ESPECIE
    WHERE ap.ID_USUARIO = @IdUsuario
      AND ap.FECHA_BAJA IS NULL
      AND ap.ID_ESTADO = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuariosSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerUsuariosSP]
AS
BEGIN
	SELECT U.ID_USUARIO, U.NOMBRE, U.APELLIDO1, U.APELLIDO2, U.ID_ROL, U.CORREO,
	U.ID_ESTADO, U.IDENTIFICACION, R.ROL, E.DESCRIPCION AS ESTADO
	FROM USUARIOS_TB U
	INNER JOIN ROLES_TB R ON U.ID_ROL = R.ID_ROL
	INNER JOIN ESTADOS_TB E ON U.ID_ESTADO = E.ID_ESTADO;

END;
GO
/****** Object:  StoredProcedure [dbo].[RegistroSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistroSP] 
    @NOMBRE VARCHAR(100), 
    @APELLIDO1 VARCHAR(100), 
    @APELLIDO2 VARCHAR(100), 
    @CORREO VARCHAR(100), 
    @CONTRASENNA VARCHAR(100), 
    @IDENTIFICACION VARCHAR(20)
AS
BEGIN

    IF EXISTS (SELECT 1 FROM USUARIOS_TB WHERE CORREO = @CORREO)
    BEGIN
        RAISERROR('El correo ya está registrado.', 16, 1);
        RETURN;
    END

    -- Insertar el usuario con contraseña encriptada (hash)
    INSERT INTO dbo.USUARIOS_TB (NOMBRE, APELLIDO1, APELLIDO2, CORREO, PASSWORD, IDENTIFICACION, ID_ESTADO, ID_ROL)
    VALUES (
        @NOMBRE, 
        @APELLIDO1, 
        @APELLIDO2, 
        @CORREO, 
        CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @CONTRASENNA), 2), --AQUI ESTAMOS HASHEANDO LA CONTRASENNA
        @IDENTIFICACION, 1,1
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizacionVentasSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[VisualizacionVentasSP]
AS
BEGIN
    SELECT 
        UA.ID_USUARIO_ACTIVIDAD AS NUMERO_FACTURA,
        UA.TICKETS_ADQUIRIDOS, 
        UA.FECHA, 
        UA.TOTAL, 
        U.NOMBRE + ' ' + U.APELLIDO1 + ' ' + U.APELLIDO2 AS NOMBRE_COMPLETO,
        A.NOMBRE AS NOMBRE_ACTIVIDAD,
        A.FECHA AS FECHA_ACTIVIDAD,
        E.DESCRIPCION AS ESTADO_COMPRA,
        M.METODO
    FROM USUARIO_ACTIVIDAD_TB UA
    INNER JOIN ACTIVIDADES_TB A ON A.ID_ACTIVIDAD = UA.ID_ACTIVIDAD
    INNER JOIN ESTADOS_TB E ON E.ID_ESTADO = UA.ID_ESTADO
    INNER JOIN METODO_PAGO_TB M ON M.ID_METODO = UA.ID_METODO_PAGO
    INNER JOIN USUARIOS_TB U ON U.ID_USUARIO = UA.ID_USUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[VisualizarActividadesActivasSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[VisualizarActividadesActivasSP] 
AS
BEGIN
    SELECT ID_ACTIVIDAD
          ,DESCRIPCION
          ,FECHA
          ,PRECIO_BOLETO
          ,TICKETS_DISPONIBLES
          ,TICKETS_VENDIDOS
          ,IMAGEN
          ,TIPO
          ,NOMBRE
    FROM dbo.ACTIVIDADES_TB 
    WHERE ID_ESTADO = 1
      AND FECHA >= CAST(GETDATE() AS DATE); -- Solo eventos de hoy en adelante

END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizarActividadesSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VisualizarActividadesSP] 
AS
BEGIN
    SELECT ID_ACTIVIDAD
      ,DESCRIPCION
      ,FECHA
      ,PRECIO_BOLETO
      ,TICKETS_DISPONIBLES
      ,TICKETS_VENDIDOS
      ,ID_ESTADO
      ,IMAGEN
      ,TIPO
      ,NOMBRE
  FROM dbo.ACTIVIDADES_TB;

END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizarAnimalesSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[VisualizarAnimalesSP]
AS
BEGIN
    SELECT 
        a.ID_ANIMAL,
        a.NOMBRE AS NOMBRE_ANIMAL,
        a.ID_RAZA,
        r.NOMBRE AS NOMBRE_RAZA,
        a.FECHA_INGRESO,
        a.FECHA_NACIMIENTO,
        a.ID_ESTADO,
		e.DESCRIPCION AS ESTADO,
        a.ID_SALUD,
        s.DESCRIPCION,
        a.IMAGEN,
        a.HISTORIA,
        a.NECESIDAD
    FROM ANIMAL_TB a
    INNER JOIN RAZAS_TB r ON a.ID_RAZA = r.ID_RAZA
	INNER JOIN ESTADOS_TB e ON a.ID_ESTADO = e.ID_ESTADO
    INNER JOIN ESTADOS_SALUD_TB s ON a.ID_SALUD = s.ID_SALUD
END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizarApadrinamientosSP]    Script Date: 8/19/2025 1:33:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VisualizarApadrinamientosSP]
AS
BEGIN
    SELECT 
        A.ID_APADRINAMIENTO,
        A.MONTO_MENSUAL,
        A.FECHA,
        A.FECHA_BAJA,
        A.ID_USUARIO,
        U.NOMBRE AS NOMBRE_USUARIO,
        U.APELLIDO1 AS APELLIDO1_USUARIO,
        U.APELLIDO2 AS APELLIDO2_USUARIO,
        A.ID_ESTADO,
        E.DESCRIPCION AS ESTADO,
        A.ID_ANIMAL,
        AN.NOMBRE AS NOMBRE_ANIMAL,
        A.ID_METODO,
        M.METODO AS METODO_PAGO,
        A.REFERENCIA
    FROM APADRINAMIENTOS_TB A
    INNER JOIN USUARIOS_TB U ON A.ID_USUARIO = U.ID_USUARIO
    INNER JOIN ESTADOS_TB E ON A.ID_ESTADO = E.ID_ESTADO
    INNER JOIN ANIMAL_TB AN ON A.ID_ANIMAL = AN.ID_ANIMAL
    INNER JOIN METODO_PAGO_TB M ON A.ID_METODO = M.ID_METODO
END;
GO

USE CASA_NATURA;
GO

CREATE OR ALTER PROCEDURE ObtenerMisToursSP
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.ID_ACTIVIDAD,
        a.NOMBRE,
        a.DESCRIPCION,
        a.FECHA,
        a.IMAGEN,
        ua.TICKETS_ADQUIRIDOS,
        ua.TOTAL
    FROM USUARIO_ACTIVIDAD_TB ua
    INNER JOIN ACTIVIDADES_TB a 
        ON ua.ID_ACTIVIDAD = a.ID_ACTIVIDAD
    WHERE ua.ID_USUARIO = @IdUsuario
      AND a.FECHA >= CAST(GETDATE() AS DATE);  
END
GO

USE CASA_NATURA;
GO

CREATE OR ALTER PROCEDURE FinalizarApadrinamientoSP
    @IdUsuario INT,
    @IdAnimal INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE APADRINAMIENTOS_TB
    SET ID_ESTADO = 2,
        FECHA_BAJA = GETDATE()
    WHERE ID_USUARIO = @IdUsuario
      AND ID_ANIMAL = @IdAnimal
      AND ID_ESTADO = 1; 
    UPDATE ANIMAL_TB
    SET ID_ESTADO = 1
    WHERE ID_ANIMAL = @IdAnimal;
END
GO

USE CASA_NATURA;
GO

CREATE OR ALTER PROCEDURE ObtenerMisToursSP
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.ID_ACTIVIDAD,
        a.NOMBRE,
        a.DESCRIPCION,
        a.FECHA,
        a.IMAGEN,
        ua.TICKETS_ADQUIRIDOS,
        ua.TOTAL
    FROM USUARIO_ACTIVIDAD_TB ua
    INNER JOIN ACTIVIDADES_TB a 
        ON ua.ID_ACTIVIDAD = a.ID_ACTIVIDAD
    WHERE ua.ID_USUARIO = @IdUsuario
      AND a.FECHA >= CAST(GETDATE() AS DATE);  
END
GO

USE CASA_NATURA;
GO

CREATE OR ALTER PROCEDURE FinalizarApadrinamientoSP
    @IdUsuario INT,
    @IdAnimal INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE APADRINAMIENTOS_TB
    SET ID_ESTADO = 2,
        FECHA_BAJA = GETDATE()
    WHERE ID_USUARIO = @IdUsuario
      AND ID_ANIMAL = @IdAnimal
      AND ID_ESTADO = 1; 
    UPDATE ANIMAL_TB
    SET ID_ESTADO = 1
    WHERE ID_ANIMAL = @IdAnimal;
END
GO



----------------------------------------------------------
-- =============================================
-- INSERTS
-- =============================================

-- =============================================
-- INSERTS PARA ESTADOS_TB
-- =============================================
INSERT INTO ESTADOS_TB (DESCRIPCION) VALUES
('Activo'),
('Inactivo'),
('Apadrinado'),
('Resuelto'),
('Pendiente'),
('Confirmada');

-- =============================================
-- INSERTS PARA ESTADOS_SALUD_TB
-- =============================================
INSERT INTO ESTADOS_SALUD_TB (DESCRIPCION) VALUES
('Excelente'),
('Buena'),
('Regular'),
('Delicada'),
('Crítica');

-- =============================================
-- INSERTS PARA ESPECIES_TB
-- =============================================
INSERT INTO ESPECIES_TB (NOMBRE, ID_ESTADO) VALUES
('Perro', 1),
('Gato', 1),
('Conejo', 1),
('Ave', 1);

-- =============================================
-- INSERTS PARA RAZAS_TB
-- =============================================
INSERT INTO RAZAS_TB (NOMBRE, ID_ESPECIE, ID_ESTADO) VALUES
('Labrador Retriever', 1, 1),
('Pitbull', 1, 1),
('Persa', 2, 1),
('Siames', 2, 1),
('Enano Holandés', 3, 1),
('Canario', 4, 1); 

-- =============================================
-- INSERTS PARA ANIMAL_TB
-- =============================================


-- =============================================
-- INSERTS PARA ROLES_TB
-- =============================================
INSERT INTO ROLES_TB (ROL, ID_ESTADO) VALUES
('Cliente', 1),
('Administrador', 1);

-- =============================================
-- INSERTS PARA METODO_PAGO_TB
-- =============================================
INSERT INTO METODO_PAGO_TB (METODO, ID_ESTADO) VALUES
('Tarjeta crédito/débito', 1),
('Sinpe móvil', 1),
('PayPal', 1);

USE CASA_NATURA;
GO
--PROVINCIAS--

INSERT INTO PROVINCIAS_TB (NOMBRE) VALUES
('San José'),
('Alajuela'),
('Cartago'),
('Heredia'),
('Guanacaste'),
('Puntarenas'),
('Limón');

--CANTONES--

-- San José
INSERT INTO CANTONES_TB (NOMBRE, PROVINCIA) VALUES
('San José', 1),
('Escazú', 1),
('Desamparados', 1),

-- Alajuela
('Alajuela', 2),
('San Ramón', 2),
('Grecia', 2),

-- Cartago
('Cartago', 3),
('Paraíso', 3),
('La Unión', 3),

-- Heredia
('Heredia', 4),
('Barva', 4),
('Santo Domingo', 4),

-- Guanacaste
('Liberia', 5),
('Nicoya', 5),
('Santa Cruz', 5),

-- Puntarenas
('Puntarenas', 6),
('Esparza', 6),
('Buenos Aires', 6),

-- Limón
('Limón', 7),
('Pococí', 7),
('Siquirres', 7);


--DISTRITOS--

-- San José
